openapi: 3.0.3
info:
  title: athenahealth athenaOne REST AllergyIntolerance CDS Hooks API
  description: 'The athenaOne proprietary REST API exposes the full provider, patient,

    scheduling, clinical, and biller workflow surface of the athenahealth

    cloud-based EHR and practice management platform. All resources are

    scoped to a practice via the practiceid path parameter.

    '
  version: 1.0.0
  contact:
    name: athenahealth Developer Support
    url: https://docs.athenahealth.com/api/support
  license:
    name: athenahealth API Terms
    url: https://www.athenahealth.com/legal/terms
servers:
- url: https://api.platform.athenahealth.com/v1/{practiceid}
  description: Production athenaOne API
  variables:
    practiceid:
      default: '195900'
      description: athenaOne practice identifier
- url: https://api.preview.platform.athenahealth.com/v1/{practiceid}
  description: Preview (sandbox) athenaOne API
  variables:
    practiceid:
      default: '195900'
      description: athenaOne preview practice identifier
security:
- oauth2: []
tags:
- name: CDS Hooks
paths:
  /cds-services:
    get:
      summary: Discover CDS Services
      operationId: discoverCdsServices
      tags:
      - CDS Hooks
      responses:
        '200':
          description: Discovery response
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/CdsService'
  /cds-services/{id}:
    post:
      summary: Invoke CDS Service
      operationId: invokeCdsService
      tags:
      - CDS Hooks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsRequest'
      responses:
        '200':
          description: CDS Hooks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdsResponse'
components:
  schemas:
    Card:
      type: object
      properties:
        summary:
          type: string
        indicator:
          type: string
          enum:
          - info
          - warning
          - critical
        detail:
          type: string
        source:
          type: object
          properties:
            label:
              type: string
            url:
              type: string
              format: uri
        suggestions:
          type: array
          items:
            type: object
        links:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              url:
                type: string
                format: uri
              type:
                type: string
                enum:
                - absolute
                - smart
    CdsService:
      type: object
      properties:
        id:
          type: string
        hook:
          type: string
          enum:
          - patient-view
          - order-select
          - order-sign
          - appointment-book
        title:
          type: string
        description:
          type: string
        prefetch:
          type: object
          additionalProperties:
            type: string
    CdsResponse:
      type: object
      properties:
        cards:
          type: array
          items:
            $ref: '#/components/schemas/Card'
    CdsRequest:
      type: object
      properties:
        hook:
          type: string
        hookInstance:
          type: string
        fhirServer:
          type: string
          format: uri
        context:
          type: object
        prefetch:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            athena/service/Athenanet.MDP.*: athenahealth MDP scope
        authorizationCode:
          authorizationUrl: https://api.platform.athenahealth.com/oauth2/v1/authorize
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            athena/service/Athenanet.MDP.*: athenahealth MDP scope
