openapi: 3.0.3
info:
  title: athenahealth athenaOne REST AllergyIntolerance Providers API
  description: 'The athenaOne proprietary REST API exposes the full provider, patient,

    scheduling, clinical, and biller workflow surface of the athenahealth

    cloud-based EHR and practice management platform. All resources are

    scoped to a practice via the practiceid path parameter.

    '
  version: 1.0.0
  contact:
    name: athenahealth Developer Support
    url: https://docs.athenahealth.com/api/support
  license:
    name: athenahealth API Terms
    url: https://www.athenahealth.com/legal/terms
servers:
- url: https://api.platform.athenahealth.com/v1/{practiceid}
  description: Production athenaOne API
  variables:
    practiceid:
      default: '195900'
      description: athenaOne practice identifier
- url: https://api.preview.platform.athenahealth.com/v1/{practiceid}
  description: Preview (sandbox) athenaOne API
  variables:
    practiceid:
      default: '195900'
      description: athenaOne preview practice identifier
security:
- oauth2: []
tags:
- name: Providers
paths:
  /providers:
    get:
      summary: List Providers
      operationId: listProviders
      tags:
      - Providers
      responses:
        '200':
          description: Providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderList'
components:
  schemas:
    Provider:
      type: object
      properties:
        providerid:
          type: integer
        firstname:
          type: string
        lastname:
          type: string
        npi:
          type: string
        providertype:
          type: string
        specialty:
          type: string
    ProviderList:
      type: array
      items:
        $ref: '#/components/schemas/Provider'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            athena/service/Athenanet.MDP.*: athenahealth MDP scope
        authorizationCode:
          authorizationUrl: https://api.platform.athenahealth.com/oauth2/v1/authorize
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            athena/service/Athenanet.MDP.*: athenahealth MDP scope
