openapi: 3.2.0
info:
  title: athenahealth FHIR R4 Condition API
  description: 'athenahealth''s HL7 FHIR R4 server certified to the ONC Cures Act Final Rule.

    Serves US Core and USCDI v3 profiles for interoperability. SMART on FHIR

    authorization via the athenahealth Developer Portal.

    '
  version: 25.0.0
  contact:
    name: athenahealth Developer Support
    url: https://docs.athenahealth.com/api/support
servers:
- url: https://api.platform.athenahealth.com/fhir/r4
  description: Production FHIR R4 endpoint
- url: https://api.preview.platform.athenahealth.com/fhir/r4
  description: Preview FHIR R4 endpoint
security:
- smart: []
tags:
- name: Condition
paths:
  /Condition:
    get:
      summary: Search Conditions
      operationId: searchFhirConditions
      tags:
      - Condition
      parameters:
      - name: patient
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Condition resources
components:
  securitySchemes:
    smart:
      type: oauth2
      description: SMART on FHIR / OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://api.platform.athenahealth.com/oauth2/v1/authorize
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            launch: SMART launch context
            launch/patient: Patient launch context
            patient/*.read: Read patient-scoped resources
            user/*.read: Read user-scoped resources
            system/*.read: System-level read (backend services)
            offline_access: Issue refresh token
            openid: OpenID Connect
            fhirUser: Current FHIR user identity
        clientCredentials:
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            system/*.read: System-level read (backend services)
