openapi: 3.0.3
info:
  title: athenahealth FHIR Bulk Data Access API
  description: |
    FHIR Bulk Data Access ($export) for athenahealth. Implements the FHIR
    Bulk Data Access (Flat FHIR) Export Implementation Guide and the FHIR
    Asynchronous Request Pattern for Group-level export.
  version: 2.0.0
servers:
- url: https://api.platform.athenahealth.com/fhir/r4
  description: Production
- url: https://api.preview.platform.athenahealth.com/fhir/r4
  description: Preview
security:
- backend: []
paths:
  /Group/{id}/$export:
    get:
      summary: Group Bulk Export
      operationId: groupBulkExport
      tags: [Bulk Data]
      parameters:
      - name: id
        in: path
        required: true
        schema: {type: string}
      - name: _type
        in: query
        schema: {type: string}
      - name: _since
        in: query
        schema: {type: string, format: date-time}
      - name: _outputFormat
        in: query
        schema: {type: string, default: 'application/fhir+ndjson'}
      - name: Accept
        in: header
        schema: {type: string, default: 'application/fhir+json'}
      - name: Prefer
        in: header
        schema: {type: string, default: 'respond-async'}
      responses:
        '202':
          description: Bulk export accepted; poll Content-Location for status
          headers:
            Content-Location:
              schema: {type: string, format: uri}
  /bulk/status/{jobid}:
    get:
      summary: Get Bulk Export Status
      operationId: getBulkExportStatus
      tags: [Bulk Data]
      parameters:
      - name: jobid
        in: path
        required: true
        schema: {type: string}
      responses:
        '200':
          description: Manifest of NDJSON output files
        '202':
          description: Still processing
    delete:
      summary: Cancel Bulk Export
      operationId: cancelBulkExport
      tags: [Bulk Data]
      parameters:
      - name: jobid
        in: path
        required: true
        schema: {type: string}
      responses:
        '202':
          description: Cancellation accepted
components:
  securitySchemes:
    backend:
      type: oauth2
      description: SMART Backend Services (JWT client assertion)
      flows:
        clientCredentials:
          tokenUrl: https://api.platform.athenahealth.com/oauth2/v1/token
          scopes:
            system/*.read: System-level read for Bulk Data
